.w-80{
    width: 80%;
}
.center{
    margin: 0 auto;
}
.student-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-outline{
    border: 1px solid red;
}
.actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.alert{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 1px 3px 0px black;
    -webkit-animation: fade-out 500ms ease-in 1000ms 1 forwards;
            animation: fade-out 500ms ease-in 1000ms 1 forwards;

}
.alert-success{
    font-weight: bold;
    background-color: rgb(27, 255, 194);
}
@-webkit-keyframes fade-out{ 
    0%   { opacity:1; }
    100% { opacity:0; }
  }
@keyframes fade-out{ 
    0%   { opacity:1; }
    100% { opacity:0; }
  }

.btn{
    background: rgb(25, 87, 244);
    color: aliceblue;
    padding: .5rem;
    border-radius: 5px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
